
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Heading</h2>
<p>@ViewBag.Message</p>
<h3>The Current date and time is:</h3>
<p>@ViewBag.Date</p>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @:Welcome @User.Identity.Name
        <a href="@Url.Action("Logout", "Account")">Log Out</a>
    }
    else
    {
        <a href="@Url.Action("Login","Account")">Log In</a>
        <a href="@Url.Action("Register", "Account")">Register</a>
    }
</p>
<p>
    @Html.ActionLink("Search for a message", "Search", "Messages")
    <br />
    @Html.ActionLink("View all messages", "Index", "Messages")
    <br />
</p>

