@model Final.Models.ProductViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberName.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberName.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MemberName.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberName.Phone)
        </dd>






    </dl>
</div>
<p>

    @Html.ActionLink("Search Again", "Search")
</p>
